@model IEnumerable<BlogArray.SaaS.App.Models.UserVM>

@{
    ViewData["Title"] = "Index";
}

<h3>Users</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Active
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        @:Yes
                        <a asp-action="DeActivate" asp-route-id="@item.Id">Disable user</a>
                    }
                    else
                    {
                        @:No
                        <a asp-action="Activate" asp-route-id="@item.Id">Activate user</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
