@model EditViewApplicationViewModel

@{
    string title = $"Edit {Model.ClientId}";
    ViewData["Title"] = title + " tenant";
}

<div class="card">
    <div class="card-header">
        <h3 class="mb-1">@title</h3>
        <nav aria-label="breadcrumb mb-0 mbe-0 form-text">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a asp-action="Index">
                        All tenants
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@title</li>
            </ol>
        </nav>
    </div>
    <div class="card-body">
        @await Html.PartialAsync("_EditBasicInfo", Model)
        <hr class="my-5">
        @await Html.PartialAsync("_EditSecurity", Model.Security)
        <hr class="my-5">
        @await Html.PartialAsync("_EditTheme", Model.Theme)
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $(document).ready(function () {
        Unobtrusive.reInit($("#saveTenantForm"));
    });

    function onTenantChangeSuccess(e) {
        Toast.success(e.message);
    }
</script>