@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h6>@ViewData["Title"]</h6>
<partial name="_StatusMessage" model="Model.StatusMessage" />
