@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h6 class="text-center mb-3">
    Forgot your password?
</h6>
<span class="d-block text-center">
    <i class="state-icon text-primary bi bi-envelope-open"></i>
</span>
<p class="text-center mt-3">
    We sent a recovery link to you at<br />
    <strong>@Model.Email</strong>
</p>

<div class="text-center mt-3">
    <p>
        <a asp-page="./Login">Go back to login</a>
    </p>
</div>