@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<h6 class="text-center mb-3">
    Your password changed
</h6>
<span class="d-block text-center">
    <i class="state-icon text-primary bi bi-shield-check"></i>
</span>
<p>
    Your password has been changed. Please <a asp-page="./Login">click here to log in</a>.
</p>
