@model EditApplicationViewModel

@using (Html.AjaxBeginForm(new AjaxOptions
 {
     Url = @Url.ActionLink("EditBasicInfo"),
     HttpMethod = "post",
     OnSuccess = "onTenantChangeSuccess",
     OnFailure = "handleAjaxError"
 }, new { id = "saveTenantForm" }))
{
    <div class="offcanvas offcanvas-end medium" tabindex="-1" id="tenantEditOffcanvas" aria-labelledby="offcanvasRightLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="offcanvas-header border-bottom">
            <h5 id="offcanvasRightLabel">
                Change basic info
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClientId" />
            <input type="hidden" asp-for="TenantUrl" />
            <div class="mb-3">
                <label asp-for="DisplayName" class="form-label">Display name</label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Legalname" class="form-label">Legal name</label>
                <input asp-for="Legalname" class="form-control" />
                <span asp-validation-for="Legalname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConnectionString" class="form-label">Connection string</label>
                <textarea asp-for="ConnectionString" aria-describedby="secretCS" class="form-control"></textarea>
                <div id="secretCS" class="form-text">
                    The connection string to your database instance, e.g. Server=localhost;Database=[db_name];User Id=username;Password=password.
                </div>
                <span asp-validation-for="ConnectionString" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Website" class="form-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RedirectUri" class="form-label">Redirect Uris</label>
                <input type="text" asp-for="RedirectUri" class="form-control" />
                <span asp-validation-for="RedirectUri" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PostLogoutRedirectUri" class="form-label">Post Logout Redirect Uris</label>
                <input type="text" asp-for="PostLogoutRedirectUri" class="form-control" />
                <span asp-validation-for="PostLogoutRedirectUri" class="text-danger"></span>
            </div>
            @*  <div class="mb-3">
        <label asp-for="Permissions" class="form-label"></label>
        <select multiple class="form-select" asp-for="Permissions" asp-items="ViewBag.Permissions">
        </select>
        <span asp-validation-for="Permissions" class="text-danger"></span>
    </div> *@
        </div>
        <div class="offcanvas-header border-top">
            <div>
                <input type="submit" value="Update tenant" class="btn btn-primary" />
                <input type="button" value="Cancel" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    var redirectUrlChoice, postLogoutUriChoice;

    $(document).ready(function () {
        Unobtrusive.reInit($("#saveTenantForm"));

        redirectUrlChoice = new Choices('#RedirectUri', {
            placeholderValue: 'Please enter redirect url',
            allowHTML: true,
            allowHtmlUserInput:false,
            editItems: true,
            duplicateItemsAllowed: false,
            uniqueItemText: 'Only unique url\'s can be added',
            customAddItemText: 'Enter valid url',
            addItemFilter: function(value) {
            if (!value) {
              return false;
            }
            const urlRegex = /^(https?:\/\/)?([\da-z.-]+)\.([a-z.]{2,6})([\/\w .-]*)*\/?$/;
            const expression = new RegExp(urlRegex.source, 'i');
            return expression.test(value);
          }
        });
        postLogoutUriChoice = new Choices('#PostLogoutRedirectUri', {
            placeholderValue: 'Please enter post logout redirect url',
            allowHTML: true,
            allowHtmlUserInput:false,
            editItems: true,
            duplicateItemsAllowed: false,
            uniqueItemText: 'Only unique url\'s can be added',
            customAddItemText: 'Enter valid url',
            addItemFilter: function(value) {
            if (!value) {
              return false;
            }
            const urlRegex = /^(https?:\/\/)?([\da-z.-]+)\.([a-z.]{2,6})([\/\w .-]*)*\/?$/;
            const expression = new RegExp(urlRegex.source, 'i');
            return expression.test(value);
          }
        });
    });
</script>