@model TenantSecurityViewModel

@using (Html.AjaxBeginForm(new AjaxOptions
 {
     Url = @Url.ActionLink("EditSecurity"),
     HttpMethod = "post",
     OnSuccess = "onSecurityChangeSuccess",
     OnFailure = "handleAjaxError"
 }, new { id = "saveSecurityForm" }))
{
    <div class="offcanvas offcanvas-end medium" tabindex="-1" id="tenantEditOffcanvas" aria-labelledby="offcanvasRightLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="offcanvas-header border-bottom">
            <h5 id="offcanvasRightLabel">
                Security
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3 form-check form-switch">
                <input class="form-check-input" asp-for="IsSocialAuthEnabled" type="checkbox" role="switch">
                <label class="form-check-label" hide-indicator="true" asp-for="IsSocialAuthEnabled">Users can able to login using social accounts like microsoft, google, etc.</label>
            </div>
            <div class="mb-3 form-check form-switch">
                <input class="form-check-input" asp-for="IsMfaEnforced" type="checkbox" role="switch">
                <label class="form-check-label" hide-indicator="true" asp-for="IsMfaEnforced">Enforce MFA for users for enhanced security.</label>
            </div>
            <div class="mb-3 form-check form-switch">
                <input class="form-check-input" asp-for="IsSsoEnabled" type="checkbox" role="switch">
                <label class="form-check-label" hide-indicator="true" asp-for="IsSsoEnabled">Enable SSO using SAML</label>
            </div>
            <div class="mb-3">
                <label asp-for="SsoSignInUrl" class="form-label">Sign-in URL</label>
                <input asp-for="SsoSignInUrl" type="url" class="form-control" placeholder="https://">
                <span asp-validation-for="SsoSignInUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SsoSignOutUrl" class="form-label">Sign-out URL</label>
                <input asp-for="SsoSignOutUrl" type="url" class="form-control" placeholder="https://">
                <span asp-validation-for="SsoSignOutUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SsoEntityId" class="form-label">Entity Id</label>
                <input asp-for="SsoEntityId" class="form-control">
                <span asp-validation-for="SsoEntityId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SsoX509Certificate" class="form-label">X.509 Certificate</label>
                <textarea asp-for="SsoX509Certificate" rows="10" aria-describedby="X509CS" placeholder="Base-64 coded .cer, .crt, .cert, or .pem starts with  -----BEGIN CERTIFICATE----- ... -----END CERTIFICATE-----" class="form-control"></textarea>
                <div id="X509CS" class="form-text">
                    Base-64 coded .cer, .crt, .cert, or .pem
                </div>
                <span asp-validation-for="SsoX509Certificate" class="text-danger"></span>
            </div>

            @* <div class="mb-3 form-check form-switch">
        <input class="form-check-input" aria-describedby="ssoutCS" asp-for="IsSingleSignOutEnabled" type="checkbox" role="switch">
        <label class="form-check-label" hide-indicator="true" asp-for="IsSingleSignOutEnabled">Single logout</label>
        <div id="ssoutCS" class="form-text">
            Enable if you want the users to get signed out from the identity provider when they sign out from App.
        </div>
    </div> *@
        </div>
        <div class="offcanvas-header border-top">
            <div>
                <input type="submit" value="Update security info" class="btn btn-primary" />
                <input type="button" value="Cancel" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $(document).ready(function () {
        Unobtrusive.reInit($("#saveSecurityForm"));
        changeState($('#IsSsoEnabled').is(':checked'));
    });

    $('#IsSsoEnabled').change(function() {
        changeState(this.checked);
    });

    function changeState(state){
        if(state) {
            $('#IsSocialAuthEnabled').attr("disabled", true);
            $('#IsMfaEnforced').attr("disabled", true);
        }else{
            $('#IsSocialAuthEnabled').removeAttr("disabled");
            $('#IsMfaEnforced').removeAttr("disabled");
        }
    }
</script>